<div *ngIf="cartItems.length > 0; else emptyTemplate" class="cart">
  <app-cart-item
    *ngFor="let cartProduct of cartProducts; let i = index"
    class="row align-items-center justify-content-between mb-4"
    [product]="cartProduct"
    [cartItem]="cartItems[i]"
    (cartUpdated)="updateCart($event)"
  ></app-cart-item>
  <hr />
  <div class="totalPrice pb-4">
    <p class="m-0">Pay now:</p>
    <h4>{{ sumTotal() }} €</h4>
  </div>
  <div class="row">
    <button
      class="btn btn-dark"
      [routerLink]="['/order-details']"
      [state]="{ cartProducts: cartProducts, cartItems: cartItems }"
    >
      Next
    </button>
  </div>
</div>

<ng-template #emptyTemplate>
  <div class="cart row"><div class="empty">Cart is empty</div></div>
</ng-template>
