.confirmation {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin-bottom: 0;
  }
  .image-wrapper {
    width: 10%;
    .product-image {
      aspect-ratio: 1 / 1;
      background-size: cover;
      background-position: center;
      margin-right: 1rem;
      width: 100%;
    }
  }
}
